/* navber part */
@media screen and (max-width: 576px) {
    .nav, 
    .nav-s2, 
    .nav-s2 ul{
        flex-direction: column;
    }
    .banner{
        flex-direction:column-reverse;
        text-align: center;
    }
    .banner-img{
        width: 250px;
        height: 250px;
        margin-top: 100px;
    }
    .another, .Popular-Collection{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 20px;
    }
    .future-product{
        flex-direction: column-reverse;
        margin-top: 500px;
        text-align: center;
    }

}