/* navber part */
@media screen and (max-width: 576px) {
    .nav, .nav-s2, .nav-s2 ul, .banner{
        flex-direction: column;
    }
    .banner-c1 h1{
        font-size: 34px;
        text-align: center;
    }
    .banner-c2 img{
        width:25%;

    }
        /* .banner-c2{
            background-image: none;
        } */
}