/* Font popping */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Shered styels */
.weight{
    max-width: 1240px;
    margin: 0 auto;
}
p,a{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}
i {
    margin-top: 5px;
    margin-left: 5px;
}
.btn{
    width: 180px;
    height: 45px;
    background-color: #E02C6D;
    color: white;
    font-size:1rem;
    font-weight: bold;
    border: none;
    border-radius: 25px;
}
h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: #3A3A3A;
}
/* header */

.hidden{
    display: none;
}


/* navber */
.nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    /* justify-content: center; */
}
.nav-s2{
    display: flex;
    gap: 20px;
}
.nav-s2 ul{
    display: flex;
    gap: 20px;
}
.nav-s2 ul > li{
    list-style: none;
}
.nav-s2 ul > li >a{
    text-decoration: none;
    color: black;
}
.icon{
    margin-top: 18px;
}
/* banner  */
.banner{
    display: flex;
    justify-content: space-between;
    /* gap: 250px; */
    margin-top: 50px;
}
.banner-c1 h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: #3A3A3A;
}
.arrow{
    width: 20px;
    height: 20px;
}
.banner-c2{
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
}


/* main */
/* another section */
.article-1 h3{
    text-align: center;
    margin-top: 120px;
    margin-bottom: -50px;
}
.another{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: space-between;
}

.web-img{
    margin-bottom: 20px;
}

/* Popular-Collection */
.Popular-Collection{
    max-width: 1020px;
    margin-top: 100px;
    /* text-align: center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
}
.card{
   max-width: 330px;
   max-height: fit-content;
    padding: 15px;
    /* margin: 15px; */
    border-radius: 10px;
    text-align: left;

    box-sizing: border-box;
    float: left;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card p{
    font-size: 0.8rem;
    color: #787885;
}
.card h3{
    text-align: left;
    margin: 0 0 0px 0;
}
.card h4{
    font-size: 1.5rem;
    color: #787885;
}
.see-more{
    color: #E02C6D;
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-right: 150px;
}


/* future-product */
.future-product{
    display: flex;
    max-width: 1140px;
    height: 250px;
    margin: 100px auto;
    align-items: center;
    gap: 120px;
}

.future-product-right{
    flex: 1;
}
.future-product-right h2{
    font-size: 2.3rem;
    font-weight: bold;
}
/* footer */

.footer{
    background-color: #3A3A3A;
    height: 300px;
    text-align: center;
    padding-top: 50px;
}
.footer h3, p{
    color: white;
}
.footer-icon{
    color: white;
    font-size: 2rem;
}